<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132657625645-tsbnt9s3bit7auaush64s7onf9i366b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132657625645-tsbnt9s3bit7auaush64s7onf9i366b1</string>
	<key>API_KEY</key>
	<string>AIzaSyAkGn1vtYEhTbcfkdGmCOAd6-ld5tehQ2c</string>
	<key>GCM_SENDER_ID</key>
	<string>132657625645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthDemo</string>
	<key>PROJECT_ID</key>
	<string>regis-ee5a5</string>
	<key>STORAGE_BUCKET</key>
	<string>regis-ee5a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132657625645:ios:932e12766f2930d28c56a4</string>
</dict>
</plist>